{% extends "base/base_template.html" %}
{% load static from staticfiles %}
{% block extra_css %}
  <style>
   p {
    text-indent: 20px; /* Отступ первой строки в пикселах */
   }
  </style>
{% endblock extra_css %}
{% block page_content %}
<div class="row vertical_indent50"></div>
<div class="row">
  <div class=col-xs-2></div>
  <div class=col-xs-8 align="justify">
<center><h3><b>УВАГА!</b> Сервіс передачі показників лічильника працює у тестовому режимі.</h3></center>
<center><h4>Користування сервісом <b>безплатне!!!</b></h4></center>
 
<p>За допомогою  онлайн-сервісу споживачі водопостачання та водовідведення мають можливість подавати показники лічильників холодної води. Наразі послуга доступна лише для фізичних осіб.</p>
<p>Вносити дані Ваших лічильників необхідно з 10 до 28 числа щомісяця.</p>
<p>Для подання показів водоміра споживач має здійснити реєстрацію. Для цього необхідно:</p>
<ul style="list-style-type:circle">
  <li>Бути власником електронної поштової скриньки (бажано на поштових сервісах України).</li>
  <li>Знати заборгованість/переплату за спожиті послуги на початок попереднього місяця.</li>
  <li>Знати свій особовий рахунок споживача (номер контракту).</li>
</ul>
<div style="margin-left:25px;">
<b>Кроки реєстрації:</b>
<ul style="list-style-type:circle">
  <li>На головній сторінці офіційного сайту підприємства натиснути позначку «Комірка споживача».</li>
  <li>На відкритій сторінці натиснути позначку «Реєстрація».</li>
  <li>Зазначити дані у відповідних комірках (особовий рахунок, електронну скриньку, заборгованість на початок місяця). 
  Заборгованість вводиться зі знаком «-», а у разі переплати без будь-яких знаків. 
  Інформація вводиться з двома знаками після крапки. 
  Інформцію про заборгованість можливо отримати з квитанції за спожиті послуги. При цьому не треба враховувати суму рекомендованого платежу. 
  Після заповнення всіх комірок натиснути позначку «Підтвердити».</li>
  <li>У разі правильного заповнення комірок на електронну скриньку споживача надійде  лист з паролем. Лист може бути розцінений як спам, що залежить від налаштувань електронної пошти.</li>
</ul>
<b>Вхід до сервісу:</b>
<ul style="list-style-type:circle">
  <li>Після отримання паролю на головній сторінці сервісу ввести номер особового рахунку та отриманий пароль.</li>
  <li>Після введення даних натиснути позначку «Вхід».</li>
</ul>
<b>Введення показників:</b>
  <p>За наявності в одного споживача двох лічильників слід зазначити покази кожного з них та натиснути позначку «Підтвердити».</p>
</div>

У разі виникнення будь-яких запитань  щодо реєстрації, введення показів, роботи сервісу просимо звертатись:</br>
за електронною адресою: <b><i>pokazvodu@meta.ua</i></b></br>
за телефоном служби збуту: <b><i>(03244)2-40-31, +380972814728</i></b>
<p><h5>Додатково інформуємо, що найближчим часом буде створена можливість здійснювати плату за спожиті послуги безпосередньо на сервісі.</h5></p>


  </div>
  <div class=col-xs-2></div>
</div>
{% endblock %}